body {
  font-family: 'Century Gothic' sans-serif;
  color: white;
  background: #F62459;
}
.messagebox {
  height: 400px;
  width: 400px;
  background: #59ABE3;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
hgroup {
  display: block;
  margin: 50px auto;
  line-height: 15px;
  width: 400px;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.container {
  margin-top: 360px;
  float: right;
}
